
name: Goodreads Books

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
  
jobs:
  update-readme-with-goodreads-books:
    name: Update this repo's README with what you're currently reading
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: alxlenc/goodreads-profile-workflow@main
        with:
          goodreads_user_id: "117462291"
          shelf: "read"
          template: "- [$title]($url) by $author. (â­ $my_rating - $average_rating)"
          comment_tag_name: "GOODREADS-READ-SHELF"
          sort_by_fields: ">user_rating,>average_rating"
      - uses: alxlenc/goodreads-profile-workflow@main
        with:
          goodreads_user_id: "117462291"
          shelf: "currently-reading"
          comment_tag_name: "GOODREADS-CURRENTLY-SHELF"
